<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSA Algorithm</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="banner">
        <h2>RSA Encryption and Decryption</h2>
    </div>
    <div class="container">
        <section>
            <h3>Step 1: Generate RSA Key Pair</h3>
            <form method="POST" action="/generate_keys">
                <button type="submit">Generate Keys</button>
            </form>
            {% if public_key %}
            <h4>Public Key:</h4>
            <pre>{{ public_key }}</pre>

            <h4>Private Key:</h4>
            <pre>{{ private_key }}</pre>
            {% endif %}
        </section>

        <section>
            <h3>Step 2: Encrypt Message</h3>
            <form method="POST" action="/encrypt">
                <input type="text" id="word_to_encrypt" name="word_to_encrypt" placeholder="Enter a message to encrypt...">
                <button type="submit">Encrypt</button>
            </form>
            {% if encrypted_message %}
            <h4>Encrypted Message:</h4>
            <p class="wrap-text">{{ encrypted_message }}</p>
            {% endif %}
        </section>

        <!-- Step 3: Decrypt Message -->
        <section>
            <h3>Step 3: Decrypt Message</h3>
            <form method="POST" action="/decrypt">
                <input type="text" id="encrypted_message" name="encrypted_message" placeholder="Enter ciphertext to decrypt...">
                <button type="submit">Decrypt</button>
            </form>
            {% if decrypted_message %}
            <h4>Decrypted Message:</h4>
            <pre>{{ decrypted_message }}</pre>
            {% endif %}
        </section>
    </div>
</body>
</html>
