<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key Entry Timer</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div id="appContainer">
    <form id="keyEntryForm">
        <label for="keyInput">Phrase: "I am registering my identity to the system based on how I type."</label>
        <input type="text" id="keyInput" name="keyInput" placeholder="Enter Phrase" onkeypress="captureKeyPress(event)">
        <button type="button" onclick="submitForm()">Register</button>
        <br>
        <button type="button" onclick="resetForm()">Reset</button>
    </form>

    <div id="results"></div>
</div>

<script>
    var startTime;
    var keyPresses = [];

    function captureKeyPress(event) {
        if (!startTime) {
            startTime = new Date().getTime() / 1000; 
        }

        keyPresses.push({
            key: event.key,
            time: new Date().getTime() / 1000 - startTime
        });
    }

    function submitForm() {

        var keyInput = document.getElementById('keyInput').value;
        if (keyInput === '') {
            alert('Please enter some text before submitting.');
            return;
    }

        $.ajax({
            type: 'POST',
            url: '/process_input',
            data: {start_time: startTime},
            success: function(response) {
                displayResults(response.time_elapsed);
            }
        });
    }

    function displayResults(timeElapsed) {
        var resultText = '<span class="result-label">Time elapsed:</span> ' + timeElapsed.toFixed(2) + ' seconds<br>';
        resultText += '<span class="result-label">Key presses:</span> ' + JSON.stringify(keyPresses);


        $('#results').html(resultText);
    }

    function resetForm() { 
        document.getElementById('keyInput').value = '';
        startTime = null;
        keyPresses = [];
        $('#results').html('');
    }
</script>

</body>
</html>
