<!DOCTYPE html>
<html>
<head>
    <title>Password Hashing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Password Hashing</h1>
        <form method="POST" style="text-align: center;">
            <input type="password" name="password" required placeholder="Enter Password">
            <button type="submit">Hash Password</button>
        </form>
        
        {% if original_password %}
        <p><strong>Original Password:</strong> {{ original_password }}</p>
        <p><strong>Generated Salt:</strong> {{ salt }}</p>
        <p><strong>Password + Salt:</strong> {{ salted_password }}</p>
        <p><strong>Hashed Salted Password:</strong> {{ hashed_password }}</p>
        {% endif %}
    </div>
</body>
</html>
