body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    margin: 0;
    margin-bottom: 20px;
}

#startRecording {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startRecording:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    margin: 20px 0; 
}

.small-title {
    font-size: 24px; 
}
