/* static/styles.css */
body {
    background-color: #f7f7f7; /* Subtle background color */
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 75%; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

h1 {
    font-size: 24px;
}

textarea {
    width: 90%;
    height: 150px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

p {
    font-weight: bold;
}
